<header>
  <nav class="navbar navbar-expand-lg navbar-dsgov navbar-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">
        <img src="logo-agro.png" alt="Logo AgroMais" style="height: 40px;">
      </a>
      
      <div class="d-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">
              Sair <i class="bi bi-box-arrow-right ms-1"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>