<app-header></app-header>
<main class="container py-5 flex-grow-1">
    
    <h1 class="text-center mb-5">Painel de Acesso</h1>
  
    <div class="row g-4">
  
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/comunidades']" class="card-link">
          <div class="card h-100 text-center card-dashboard">
            <div class="card-body">
              <i class="bi bi-people-fill display-3 text-primary"></i>
              <h5 class="card-title mt-3">Comunidades</h5>
              <p class="card-text">Gerenciar grupos e produtores.</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/oficinas']" class="card-link">
          <div class="card h-100 text-center card-dashboard">
            <div class="card-body">
              <i class="bi bi-easel2-fill display-3 text-success"></i>
              <h5 class="card-title mt-3">Oficinas</h5>
              <p class="card-text">Registrar e agendar oficinas.</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/visitas']" class="card-link">
          <div class="card h-100 text-center card-dashboard">
            <div class="card-body">
              <i class="bi bi-geo-alt-fill display-3 text-primary"></i>
              <h5 class="card-title mt-3">Visitas Técnicas</h5>
              <p class="card-text">Lançar relatórios de visitas.</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/reunioes']" class="card-link">
          <div class="card h-100 text-center card-dashboard">
            <div class="card-body">
              <i class="bi bi-calendar-event-fill display-3 text-primary"></i>
              <h5 class="card-title mt-3">Reuniões</h5>
              <p class="card-text">Agendar e registrar atas.</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/usuarios']" class="card-link">
          <div class="card h-100 text-center card-dashboard">
            <div class="card-body">
              <i class="bi bi-person-badge-fill display-3 text-success"></i>
              <h5 class="card-title mt-3">Usuários</h5>
              <p class="card-text">Gerenciar equipe.</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/permissoes']" class="card-link">
          <div class="card h-100 text-center card-dashboard">
            <div class="card-body">
              <i class="bi bi-gear-fill display-3 text-secondary"></i>
              <h5 class="card-title mt-3">Admin</h5>
              <p class="card-text">Configurações do sistema.</p>
            </div>
          </div>
        </a>
      </div>
  
    </div> 
  </main>